@model BookStoreApp.Models.Book

@{
    ViewData["Title"] = "Reserve";
}



<h1>Would you like to reserve this book?</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserve">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(m => m.Name)

            <input type="hidden" asp-for="BookUID" />
            <input type="hidden" asp-for="isReserved" />           
            <p style="margin-bottom:20px;">To confirm, please click on the below button</p>
            <div style="margin-bottom:20px; class=" form-group">
                <input type="submit" value="Reserve this book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
