@model BookStoreApp.Models.Book

@{
    ViewData["Title"] = "UnReserve";
}



<h1>Would you like to remove your reservation for this book?</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnReserve">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(m => m.Name)

            <input type="hidden" asp-for="BookUID" />
            <input type="hidden" asp-for="isReserved" />

            <p style="margin-bottom:20px;">To confirm, please click on the below button</p>

            <div style="margin-bottom:20px;" class=" form-group">
                <input type="submit" value="Remove reversation" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
